main[class*="admin-"] h1 {
    margin: 0;
    margin-bottom: 1em;
}

main[class*="admin-"] .quickNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

main[class*="admin-"] .btn-success2.selected a { color: var(--color-secondary); }

main[class*="admin-"] .list {
    max-height: 45vh;
    overflow-y: auto;
    padding-right: 2em;
}
main[class*="admin-"] .list p { color: var(--color-light); }

main.admin-team > .container {
    display: flex;
    gap: 5em;
    align-items: flex-start;
}
main.admin-team > .container > .team {
    max-height: 45vh;
    overflow-y: auto;display: grid;
    gap: 1em;
    padding-right: 1em;
}
main.admin-team > .container > .team .name {
    font-size: var(--ft-size-small);
    font-weight: var(--ft-weight-bold);
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.1em;
}

/* Overview */
main.admin-views:not(.undersection) .container {
    max-height: 40vh;
    overflow-y: auto;
}
main.admin-views:not(.undersection) .box { margin-block: 2em; }
main.admin-views:not(.undersection) .box h2 { font-size: 1.2em; }
main.admin-views:not(.undersection) .box p { color: var(--color-light); }

main.admin-views.undersection .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b";
    gap: 5em
}

main.admin-views.undersection .container .list { grid-area: a; }
main.admin-views.undersection .container form { grid-area: b; }

main.admin-views.undersection .container h2 { font-size: 1em; }


main.admin-reservations .container {
    grid-template-columns: 1fr!important;
    grid-template-areas: inherit!important;
}
main.admin-reservations .list { padding-right: 0; }
main.admin-reservations .institution { color: var(--color-dominant); }
main.admin-reservations .count {
    text-transform: uppercase;
    color: var(--color-light);
    font-size: .6em;
    font-weight: var(--ft-weight-bolder);
    letter-spacing: .08em;
}

main.admin-rooms form .images {
    display: flex;
    overflow-x: auto;
    gap: 1em;
}
main.admin-rooms form .images > .box {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: center;
}
main.admin-rooms form .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main.admin-rooms form .images a {
    text-transform: uppercase;
    color: var(--color-danger);
    cursor: pointer;
}

/* Support */
main.admin-support > .container .section {
    text-align: center;
    font-weight: initial;
    color: var(--color-light);
    font-size: 1.2em;
    margin-bottom: 1em;
}
main.admin-support > .container .list {
    padding: 1em;
    max-height: 40vh;
}
main.admin-support > .container .list:not(:last-child) { margin-bottom: 3em; }
main.admin-support h3 { font-size: 1em; }
main.admin-support a {
    font-size: .7em;
    color: var(--color-dominant);
}