*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-family: 'Sora',Helvetica,Arial,sans-serif;
}

:root {
    --color-primary : #F5F5F5;
    --color-secondary : #2E373D;
    --color-secondary-bis: #8B3D1E;
    --color-dominant : #753307; /*#9E4736*/
    --color-dominant-bis: #2D6A64;
    --color-danger : #BE0A2B;

    --color-dark : #001427;
    --color-mid : #2E373D;
    --color-light : #525252;
    --color-dlight : #d0d0d0;

    --ft-weight-normal : 600;
    --ft-weight-bold : 700;
    --ft-weight-bolder : 800;

    --ft-size-small : .8em;
    --ft-size-normal : .9em;
    --ft-size-medium : 1em;
    --ft-size-large : 1.2em;

    --ft-lineh-small : .8em;
    --ft-lineh-large : 1.4em;
}

body { background-color: var(--color-secondary); }

#root {
    margin-inline: 10vw;
    transition: margin-inline 500ms ease-out;
}
#root.large { margin-inline: 0vw; }

main {
    z-index: 1;
    margin-bottom: 20vh;
    min-height: 100vh;
    padding: 13vh 15vw 1em 15vw;
    background-color: var(--color-primary);
    box-shadow: 0 5px 0 white, 0 8px 10px 5px #20272ba3;
}

.box > .texts {
    padding: 1em;
    width: 100%;
    text-align: center;
}

.box,
h2,
h3,
p {
    color: var(--color-dark);
    max-width: 60ch;
}

h1 {
    color: var(--color-secondary);
    margin: .5em 0;
    text-align: center;
}

p {
    line-height: var(--ft-lineh-large);
    font-size: var(--ft-size-normal);
    text-align: justify;
}
