*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-family: 'Sora',Helvetica,Arial,sans-serif;
}

:root {
    --color-primary : #F5F5F5;
    --color-secondary : #2E373D;
    --color-dominant : #753307; /*#9E4736*/
    --color-danger : #CF4D6F;
    --color-text : #001427;

    --ft-weight-normal : 600;
    --ft-weight-bold : 700;
    --ft-weight-bolder : 800;

    --ft-size-normal : .9em;
    --ft-size-medium : 1em;
    --ft-size-large : 1.2em;
}

body {
    background-color: var(--color-secondary);
}

main {
    z-index: 1;
    min-height: 100vh;
    margin-bottom: 20vh;
    padding: 13vh 1em 1em 1em;
    background-color: var(--color-primary);
    box-shadow: 0 5px 0 white, 0 20px 20px 20px #20272b;
}

.container {
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-content: space-around;
}

.box > .texts {
    background-color: var(--color-primary);
    border-radius: .5em;
    padding: 1em;
    width: 100%;
    text-align: center;
}

h2,
h3,
p { color: var(--color-text); }

h1 {
    color: var(--color-secondary);
    margin: .5em 0;
    text-align: center;
}

h3 { color: var(--color-secondary); }

p {
    font-size: var(--ft-size-normal);
    text-align: justify;
}
