.buttons {
    margin-bottom: 2rem;
    text-align: right;
}
.buttons.center { text-align: center; }

[class*="btn-"] {
    cursor: pointer;
    background: none;
    font-weight: var(--fw-bold);
    overflow: hidden;
    z-index: 1;
}
[class*="btn-"]:not(:first-child) { margin-left: .3rem; }
[class*="btn-"] > span > a {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: var(--fs-300);
}
[class*="btn-"]::before {
    content: '';
    z-index: 0;
    height: 100%; width: 100%;
    transition: transform ease-out 300ms;
    position: absolute;
    top: 0; left: -100%;
}
[class*="btn-"]:hover::before { transform: translateX(100%); }
[class*="btn-"]:hover > span > a {
    transition: color ease-in-out .5s;
    color: var(--clr-dark);
}

.xl[class*="btn-"] > span > a {
    font-size: var(--fs-400)!important;
}


.btn-success::before {
    border-bottom: 5px var(--clr-dominant-one) solid;
}
.btn-success > span > a {
    z-index: 1;
    color: var(--clr-dominant-one);
}

.btn-success2::before {
    border-bottom: 5px var(--clr-dominant-two) solid;
}
.btn-success2 > span > a {
    z-index: 1;
    color: var(--clr-dominant-two);
}


.btn-danger::before {
    border-bottom: 5px var(--clr-danger) solid;
}
.btn-danger > span > a {
    color: var(--clr-danger);
}

.btn-nav {
    width: fit-content;
    margin-bottom: 1rem;
    text-align: center;
}
.btn-nav::before { border-bottom: 5px var(--clr-primary) solid; }
.btn-nav > span > a {
    text-align: center;
    color: white;
    font-size: var(--fs-400);
    letter-spacing: .3rem;
}

.disabled[class*="btn-"] > span > a,
[class*="btn-"]:disabled > span > a ,
.selected[class*="btn-"] > span > a {
    color: var(--clr-light);
    cursor: default;
}
.disabled[class*="btn-"]::before,
[class*="btn-"]:disabled::before ,
.selected[class*="btn-"]::before  {
    border-bottom: 5px var(--clr-light) solid;
}