@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes flash {
    0% {
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
    }
    40%,
    80% { 
        opacity: 1;
        transform: translateY(-50%) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%) translateX(-50%);
    }
}