.book-all .address { color: var(--color-light); }
.book-all .dates {
    text-transform: uppercase;
    font-size: var(--ft-size-small);
    font-weight: var(--ft-weight-bold);
    letter-spacing: .1em;
    color: var(--color-dominant);
}