main.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: initial;
    padding: initial;
    background-color: initial;
    box-shadow: none;
}

main.error h1 { 
    font-size: 5em;
    color: var(--color-primary);
    text-transform: uppercase;
    line-height: .9em;
}

main.error .container { color: var(--color-dlight); }
main.error .buttons { margin-top: 1em; }