main.institution-one > .container > .about {
    position: fixed;
    right: 15vw;
    top: 60vh;
    z-index: 1;
    display: grid;
    gap: 0.7em;
    grid-template-columns: repeat(5, 5vw);
    grid-template-areas:
        "t t . . ."
        ". . . . ."
        ". . . a a";
}
main.institution-one > .container > .about > h3.title {
    grid-area: t;
    text-align: right;
}
main.institution-one > .container > .about > h3.address { grid-area: a; }
main.institution-one > .container > .about > h3 {
    line-height: .9em;
    width: 20vh;
    font-size: 1.6em;
}
main.institution-one > .container > .about > p {
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(0 0 0 / 2%);
    font-size: var(--ft-size-small);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.institution-one > .container > .rooms { width: 35vw; }
main.institution-one > .container > .rooms > .box {
    margin-bottom: 7vh;
    display: grid;
    grid-template-columns: 10vw 1fr;
    gap: 2em;
}
main.institution-one > .container > .rooms .texts { padding: initial; }
main.institution-one > .container > .rooms .img {
    background-position: center;
    height: 10vw;
    width: 10vw;
    background-size: cover;
}
main.institution-one > .container > .rooms h3 {
    margin-bottom: .5em;
    font-size: 1.6em;
}
main.institution-one > .container > .rooms .desc {
    color: var(--color-light);
    margin-bottom: 2em;
}