form {
    display: grid;
    gap: 3rem;
}

textarea,
input,
select {
    width: 100%;
    padding: 1rem;
    background-color: rgb(0 0 0 / 2%);
}
textarea {
    min-height: 10vh;
    resize: vertical;
    line-height: var(--fh-large);
}

form label {
    font-size: var(--fs-400);
    color: var(--clr-light-one);
}