.buttons {
    margin-bottom: 2em;
    text-align: right;
}
.buttons.center { text-align: center; }

[class*="btn-"] {
    cursor: pointer;
    background: none;
    font-weight: var(--ft-weight-bold);
    overflow: hidden;
    z-index: 1;
}
[class*="btn-"]:nth-child(2) { margin-left: .3em; }
[class*="btn-"] > span > a {
    text-transform: uppercase;
    letter-spacing: .2em;
}
[class*="btn-"]::before {
    content: '';
    z-index: 0;
    height: 100%; width: 100%;
    transition: transform ease-out 300ms;
    position: absolute;
    top: 0; left: -100%;
}
[class*="btn-"]:hover::before { transform: translateX(100%); }
[class*="btn-"]:hover > span > a {
    transition: color ease-in-out .5s;
    color: var(--color-text);
}


.btn-success::before {
    border-bottom: 5px var(--color-dominant) solid;
}
.btn-success > span > a {
    z-index: 1;
    color: var(--color-dominant);
}

.btn-success2::before {
    border-bottom: 5px var(--color-dominant-bis) solid;
}
.btn-success2 > span > a {
    z-index: 1;
    color: var(--color-dominant-bis);
}


.btn-danger::before {
    border-bottom: 5px var(--color-danger) solid;
}
.btn-danger > span > a {
    color: var(--color-danger);
}

.btn-nav {
    width: fit-content;
    margin-bottom: 1em;
}
.btn-nav::before { border-bottom: 5px var(--color-primary) solid; }
.btn-nav > span > a {
    text-align: center;
    color: white;
    font-size: var(--ft-size-medium);
    letter-spacing: .3em;
}
.btn-nav.disabled > span > a {
    color: var(--color-light);
    cursor: default;
}