header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 6.5vh;
    background-color: var(--color-secondary);
}
header::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 8px 20px 5px var(--color-dominant);
    bottom: -5vh; left: 50%;
    transform: translateX(-50%);
}
header.open {
    transition: height ease-out .3s;
    height: 93.5vh;
}

/* Logo */
header .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -5vh;
}

header::before,
header .logo > .img {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

header .logo > .img {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: 0 0 0 7px white;
}
header .logo img { height: 90%; }

/* Navbar */
nav {
    height: 100%; width: 100%;
    background-color: var(--color-secondary);
    box-shadow: 0 5px 0 white, 0 8px 18px 3px var(--color-dominant);
}