header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 6.5vh;
    background-color: var(--color-secondary);
}
header::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 8px 35px 5px #75330785;
    bottom: -5vh; left: 50%;
    transform: translateX(-50%);
}

/* Logo */
header .logo {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -5vh;
}

header::before,
header .logo > .img {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

header .logo > .img {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    background-color: white;
    box-shadow: 0 0 0 7px white;
}
header .logo img { height: 90%; }

header.open > .logo > .img::before,
header > .logo > .img::after {
    content: '';
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;   
}
header.open > .logo > .img::before {
    z-index: 1;
    background: radial-gradient(circle, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 100%);
    background-color: var(--color-dominant);
}
header > .logo > .img::after {
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
}
header:not(.open) > .logo > .img:hover::after {
    background-color: white;
    background-image: url(/img/menu.png);
    background-size: 50%;
}
header.open > .logo > .img::after {
    filter: invert(1);
    background-image: url(/img/effacer.png);
}

/* Navbar */
header > nav {
    overflow: hidden;
    height: 100%; width: 100%;

    border-bottom: 6.5vh solid var(--color-secondary);
    background-color: var(--color-secondary);
    box-shadow: 0 5px 0 white, 0 8px 35px 5px #75330785;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > a > img { filter: invert(1); margin-top: 1em; }

header > nav > .nav {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

header > nav > .nav > ul:first-child { grid-area: a; }
header > nav > .nav > ul:last-child { grid-area: b; }

header > nav > .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}