main.index { padding-top: 7vh; }
main.index > .title {
    position: fixed;
    width: 40vw;
    top: 0;
    left: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.index > .title > h1 { font-size: 5em; }